<!-- <h1>Cocktails#show</h1>
<p>Find me in app/views/cocktails/show.html.erb</p> -->

<h1><%= @cocktail.name %></h1>
<h3>Recipe for the Cocktail</h3>
<ul>
  <% @cocktail.doses.each do |dose| %>
    <li><%= dose.ingredient.name %>: <%= dose.description%> (<%= link_to"Delete", cocktail_dose_path(@cocktail, dose), method: :delete, data: { confirm: "Are you sure?" }, class: "ml-2 text-danger" %>)</li>
  <% end %>
</ul>
  <%= link_to "Add a dose", new_cocktail_dose_path(@cocktail), class: "btn btn-outline-primary" %>
  <%= link_to "Back to cocktails", root_path %>
